
body {
    background-color: black;
}
strong {
    color: rgb(255,170,1);
    font-size: 20px;
}
a {
    color: rgb(255,170,1);
}
#ONE {
    background-image: url("images/galaxy-7040416.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    position: relative;
}
#ONE i {
    color: white;
    padding: 0px 20px;
}
#ONE i:hover {
    color: rgba(182, 40, 99, 0.911);
    
}
.navbar img {
    width: 5%;
}
.navbar {
    padding: 20px 15px 15px;
    width: 100vw;
    background-color: rgb(8, 8, 27);
    
}
.nav-link {
    margin: 0px 12px;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;     
}
.nav-link:hover, .nav-link:focus {
    background-color: white;
    color: rgba(182, 40, 99, 0.911) !important;
    opacity: 1;
}
.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}
.navbar-nav {
    margin: 0px auto;
}
form {
    display: none;
}
.one {
    text-align: center;
    position: absolute;
    top: 70px;
    color: white;
    transform: translate(10%,80%);
    width: 30%;
    
  
}
.one h1 {
    font-size: 50px;
    font-weight: 800;
    text-shadow: -2px 0 rgba(182, 40, 99, 0.911), 0 2px rgba(182, 40, 99, 0.911), 2px 0 rgba(182, 40, 99, 0.911), 0 -2px rgba(182, 40, 99, 0.911);
    -moz-text-shadow: -2px 0 rgba(182, 40, 99, 0.911), 0 2px rgba(182, 40, 99, 0.911), 2px 0 rgba(182, 40, 99, 0.911), 0 -2px rgba(182, 40, 99, 0.911);
    -webkit-text-shadow: -2px 0 rgba(182, 40, 99, 0.911), 0 2px rgba(182, 40, 99, 0.911), 2px 0 rgba(182, 40, 99, 0.911), 0 -2px rgba(182, 40, 99, 0.911);
     text-align: left;
}

.one p {
    font-size: 19px;
    text-shadow: 5px 5px 10px rgba(241, 0, 101, 0.911);
    -moz-text-shadow: rgba(241, 0, 101, 0.911);
    -webkit-text-shadow: rgba(241, 0, 101, 0.911);
}


/**********SECTION TWO **********/
#TWO {
    background-image: linear-gradient(to bottom right,rgb(2, 10, 27),rgb(2, 10, 27),rgb(28, 53, 102),rgb(42,75,140), rgb(244,72,134));
   
    padding-bottom: 80px;

}
.two {
    background-color: white;
    height: 50px;
    word-break: break-all;
    display: flex;
    padding-top: 10px;
    margin-bottom: 50px;
    
}
.color {
 width: 33.33%;
 height: 50px;
}
.a {
   background-color: rgb(254,0,116);
}
.b {
    background-color: rgb(1,254,127);
 }
 .c {
    background-color: rgb(255,170,1);
 }
 
.two-b {
    color: rgb(255, 255, 255);
    font-size: 18px;
    width:90%;
    padding: 50px 30px 30px;
    border: 5px solid rgb(21,183,155);
    border-radius: 15px;
    text-align: justify;
    box-shadow: 8px 8px 10px rgb(34, 102, 121);
    -moz-box-shadow: 8px 8px 10px rgb(34, 102, 121);
    -webkit-box-shadow: 8px 8px 10px rgb(34, 102, 121);
    margin: 0px auto;
    line-height: 1.7;
    font-size: 19px;
}

.heading {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
    -moz-text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
    -webkit-text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
    
}
#TWO h1 {
    color: rgb(255,170,1);
}


/******SECTION THREE***/

#THREE {
    background-color: rgb(0, 0, 0);
    padding: 0px 0px 50px;
   
}
#THREE img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    animation: revolve 10s linear infinite;
}
@keyframes revolve {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }
}
#THREE img:hover {
    animation: pause;
    border: 1px solid white;
   
}
.zone ul {
    list-style: none;
    font-size: 18px;
    text-align: left;
}

.zone {
    width: 30%;
    color: rgb(230, 230, 230);
    border-radius: 30px;
    margin: 0px 10px;
   
}
.zone:hover {
    border: 1px solid white;
    color: #fff;
}
.zone p {
    text-align: justify;
    font-size: 18px;
    padding: 0px 20px;
}
    
.un {
    background-color: rgb(123,112,92);
}
.deux {
    background-color: rgb(151, 89, 135);
}
.trois {
    background-color: rgb(76,76,76);
}
.policy {
    word-break: break-all;
    text-align: left !important;
}
#THREE h1 {
    color: rgb(0,216,255);   
}

.og-2 {
    width: 85%;
    box-shadow: 0px 0px 5px 5px inset rgb(37, 89, 104);
    text-align: left;
    padding: 20px 20px;
    border: 2px solid rgb(24,109,96);
    font-size: 19px;
    font-weight: 500;
    margin: 50px auto 0px; 
    color: #fff;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.og-2 h3 {
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.pic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 30px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    
}


/********SECTION 4*******/

#FOUR {
    background-color: white;
    padding: 0px 0px 50px;
    color: black;
    background-image: url("images/the\ irregulars-01.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;  
}
#FOUR h3 {
    padding: 10px 0px;
    font-weight: 600;
    color: #fff;
}
.phases {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.phase {
    background-color: rgb(8, 8, 27);
    color: rgb(255, 255, 255, 0.6);
    border-radius: 15px;
    width: 24%;
    padding: 20px;
    font-size: 18px;
    border-left: 6px solid rgb(204, 95, 22);
}
.per {
    background-color: rgb(8, 8, 27);
    padding: 15px 25px !important;
    width: 50%;
    text-align: center;
    margin: 30px auto;
    font-size: 30px;
    font-weight: bolder;
    border: 5px solid rgb(255, 115, 0);
    border-radius: 15px ;
    color: #fff;
    
    
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }
}
.phase:hover {
   
    border-left-color: rgb(255, 115, 0);
    border-left-width: 10px;
    transition: 0.3s;
    transition-timing-function: linear;
    color: #fff;
    box-shadow: 5px 5px 8px rgb(255, 115, 0);
}

/*********SECTION FIVE**************/

#FIVE {
    padding-bottom: 50px;
    background-color: black;
    text-align: center;
    
}

 .image {
    width: 24%;
    border: 2px solid rgb(126,199,232);
}
.image:hover {
    box-shadow: 0 0 8px 8px rgb(126,199,232);
}
#FIVE-1 {
    background-color: black;
    text-align: center;
    display: none;

}
.image-1 {
   width: 49%;
   border: 1px solid rgb(126,199,232);
}
#FIVE-1 .carousel-item {
    height: fit-content;
    margin: 0px auto !important;
    border: none;
    padding: 0px 5px !important;
}
#FIVE-1 .carousel-inner {
    height: auto;
    border: none;
    margin: auto;
}
 .v {
    color: #fff;
    width: 80%;
    margin: 20px auto 50px;
    line-height: 1.8;
 }

/*************** SECTION SIX ***********/
#SIX {
    padding-bottom: 50px;
    background-color: rgb(0, 0, 0);
}
.x {
   color: rgb(255, 255, 255);
   width: 70%;
   margin: 0px auto 30px;
   text-align: center;
   line-height: 1.6;

   
}

.collection {
     display: flex;
     justify-content: center;
      
}
#SIX img {
    width: 100%; 
    border-radius: 20px;
  
}
.tion {
    width: 35%;
    border-radius: 20px;
    text-align: center;
    margin: 15px 45px;
    box-shadow: 0 0 5px 5px rgb(175, 175, 175);
}





/*********** SEVEN**********/
#SEVEN {
    background-image: url("images/2204_w022_n001_618b_p15_618.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
    
   
}
.seven {
    color: #fff;
    width: 70%;
    padding: 50px 0px 20px;
    text-align: center;
    border: 2px solid #fff;
    outline: 3px solid #fff;
    outline-offset: 10px;
    margin: 70px auto 10px;
    
}  
.seven p {
    font-size: 22px;
    font-weight: 800;
    margin-top: 15px;
    color: rgb(231, 152, 5);
} 
#SEVEN .badge {
    margin: 5px;
    padding: 10px 0px 0px;
    width: 80%;
    text-decoration: none;
}
#SEVEN .badge:hover {
    background-color: rgb(254,0,116) !important; 
}

/********* EIGHT***********/
#EIGHT {
    background-color: rgb(0, 0, 0);
    color: rgb(254,0,116);
    text-align: center;
}
.eight {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 25px;
}
#EIGHT img {
    width: 85%;
    border-radius: 50%;
    margin: 20px auto 30px;
    outline: 2px solid rgb(156, 156, 156);
    outline-offset: 10px;
    
}
#EIGHT h1 {
    margin-bottom: 25px;
}
.team {
    width: 30%;
    margin: 10px;
    border: 1px solid #fff;
    text-align: center;
    padding: 20px 20px 10px;
    color: #fff;
    position: relative;
}
.team p {
   text-align: center;
}
.team h3 {
color: rgb(254,0,116);
font-weight: 700;
font-size: 33px;

}
.team a {
    position: absolute;
    right: 25px;
    bottom: 10px;
    color: rgb(254,0,116);
}
.team a:hover {
    color: rgb(255,170,1);
}

footer {
    text-align: center;
    background-color: black;
    color: rgb(155, 151, 151);
}


/****** SECTION NINE **********/
#NINE {
    height: auto;
    background-color: #fff;
    padding-bottom: 50px;
}
#NINE h3 {
    text-decoration: underline;
}
.ix {
    padding-left: 50px;
}


.Canvas {
width: 47%;
 
   
}
 .nine {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;

 }
 .Table {
    width: 47%;
 }
 table, th, td {
    border: 3px solid rgb(105, 103, 103);
   border-collapse: collapse; 
  }
  th, td {
    padding: 15px;
    text-align: center;
  }
  td {
    font-weight: 600;
  }

/*****SECTION TEN ********/

#TEN {
    text-align: center;
    padding: 0px 25px 50px;
}
#TEN h4 {
    color: #fff;
}
#TEN button {
    padding: 15px;
    border-radius: 20px;
    width: 30%;
    margin-top: 30px;
    border-left:  6px solid rgb(60, 0, 224);
    border-top: 6px solid rgb(0, 221, 99);
    border-right: 6px solid rgb(255,170,1);
    border-bottom: 6px solid rgb(254, 1, 85);
    color: rgb(255,170,1);
    font-size: 30px;
    font-weight: 700;
   
}
#TEN button:hover {
    background-color: rgb(254, 1, 85);
    color: rgb(255, 255, 255);
}
#TEN a {
    text-decoration: none;
    
}

















@media screen and (max-width: 569px) {
    .navbar img {
        width: 13%;
    }
    .navbar {
        padding: 10px;
          
    }
    .navbar>.container-fluid {
        justify-content: flex-start;  
    }
    .navbar-toggler {
        position: absolute;
        top: 18px;
        right: 10px;
    }
    .one {
        text-align: left;
        position: absolute;
        top: 50px;
        color: white;
        transform: translate(10%,70%);
        width: 60%;
      
    }
    .one h1 {
        font-size: 40px;
        font-weight: 800;
}
.navbar-collapse {
    background-color: rgb(8, 8, 27);
    border-radius: 10px;
    text-align: center;
    padding: 50px 0px;
} 
.nav-item {
    padding: 8px 0px;
}
.rounded-pill {
    width: 70%;
}
.d-flex {
    justify-content: center;
}
.z {
    display: none;
}

.two-b {
    padding: 20px;
    margin: 20px auto;
}

.phases {
    display: block;
}
.phase {
    width: 90%;
    margin: 10px auto;
}
.per {
    width: 80%;
    font-size: 24px;
    font-weight: 700;
}
.pic {
    display: block;
}
#THREE img {
    border-radius: 15px;
}
.zone {
    width: 98%;
    margin: 25px auto;
    padding-bottom: 10px;
    border-radius: 15px;
}
.og-2 {
    width: 98%;
    text-align: justify;
    padding: 30px;
}
#FIVE {
    display: none;
}
#FIVE-1 {
    display: block;
}
#FIVE-1 .carousel-item {
    max-height: 250px;
    margin: 0px auto !important;
    padding: 0px 5px !important;
}
#FIVE-1 .carousel-inner {
    height: 250px;
    margin: auto;
}
.v {
    color: #fff;
    width: 95%;
    margin: 20px auto 50px;
    line-height: 1.3;
 }
.collection {
    display: block;
}
.tion {
    width: 90%;
    margin: 25px auto;
}

.ix {
    padding-left: 30px;
}
.seven {
    width: 95%;
    padding: 30px 0px 20px;
    margin-top: 50px;
    outline-offset: 0px;
    outline: none;
    border: none;
}
.eight {
    display: block;
    padding: 25px;
}
.team {
    width: 95%;
    margin: 25px auto;
}
.team h3 {
    font-size: 35px;
    font-weight: 600;
}
#EIGHT h1{
     margin-bottom: 10px;
}
.heading {
    font-size: 45px;
}
.nine {
    display: block;
}
.Table {
    width: 100%;
 }
 .Canvas {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
 }
 th, td {
    padding: 5px;
    text-align: center;
  }
  table, th, td {
    border: 1px solid rgb(105, 103, 103);
  }
 
  .remove {
    display: none;
  }
  #TEN button {
    width: 80%;
  }
}

@media screen and (min-width: 570px) and (max-width: 994px) {
  
    .nav img {
        width: 7%;
    }
    #ONE i {
        font-size: 30px;
    
    }
    .navbar>.container-fluid {
        justify-content: flex-start;  
    }
    .navbar-toggler {
        position: absolute;
        top: 18px;
        right: 20px;
    }
    .one {
        text-align: center;
        position: absolute;
        top: 50px;
        color: white;
        transform: translate(5%,70%);
        width: 40%;
      
    }
    .navbar-collapse {
        background-color: rgb(8, 8, 27);
        border-radius: 10px;
        text-align: center;
        padding: 50px 0px;
    } 
    .nav-item {
        padding: 8px 0px;
    }
    .rounded-pill {
        width: 70%;
    }
    .d-flex {
        justify-content: center;
    }
    .z {
        display: none;
    }
    .two-a {
        width: 45%;
    }
    .two-b {
        outline-offset: 5px;
        padding: 15px;
    
    }
    
    #TWO img {
        width: 100%;  
        min-height: 350px;
    }
    .phase {
        width: 48%;
        margin: 30px auto;
    }
    #THREE img {
        border-radius: 15px;
    }
    .zone {
        width: 46%;
        margin: 30px 10px;
        border-radius: 15px;
    }
    .pic {
        padding: 25px 10px;
    }
    .og-2 {
        width: 95%;
    }
    .tion {
        width: 47%;
    }
  
    .seven {
        width: 85%;
        padding: 30px;
    }
    .team {
       width: 47%;
       margin: 10px;   
    }
    .eight {
        padding: 30px 10px;
    }
    .nine {
        display: block;
    }
    .Table {
        width: 100%;
     }
     table {
        margin:  0px auto;
     }
    
     .Canvas {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
     }
     #TEN button {
        width: 60%;
      }
    
}

@media screen and (min-width: 994px) and (max-width: 1200px) {
  #ONE i {
    display: none;
  }
  .navbar {
    padding: 20px 10px 15px;
  }
  .nav-link {
    margin: 0px 8px;
  }
  .two-b {
    width: 80%;
  }
  .nine {
    display: block;
}
.tion {
    width: 47%;
}
.Table {
    width: 100%;
    
 }
 table {
    margin:  0px auto;
 }
 .Canvas {
    width: 100%;
    height: auto;
  
 }
}